---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { ViewTransitions } from 'astro:transitions';

---
<header>
 <nav>
   <Hamburger />
   <Navigation />
 </nav>



 <ViewTransitions />
</header>