---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { ViewTransitions } from 'astro:transitions';

---

<head>
  <meta name="description" content="厦门唯特提供工艺设备、化工原料、代加工服务，致力于为客户提供最佳的工业解决方案。">
  <meta name="keywords" content="全自动拆包机, 吸粉机，离心分级机, 莎哈利本二氧化钛，莎哈利本硫酸钡，浆料代加工服务, 工业解决方案">
</head>

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>

  <ViewTransitions />
</header>
